body{
    height: 100%;
}
btn{
    border:3px solid blue;
    cursor: pointer;
}
.orbit {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    position: absolute;
    /* animation: rota 7s linear infinite;    */
}
.e {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    height: 19vh;
    width: 10.21vw;
    display: inline-block;
    position: relative;
    text-align: center;
}
/* @keyframes rota{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
.orbit:nth-child(1)
{
    height: 43vh;
    width: 23.11vw;
    left:40.8vw;;
    top:25vh;
}
.orbit:nth-child(2)
{
    height: 86vh;
    width: 45vw;
    left: 30vw;
    top:4.5vh;
}
.orbit:nth-child(3)
{
    height: 28vh;
    width: 15.05vw;
    left:44.4vw;
    top:32.35vh;
    visibility: hidden;
}
.orbit:nth-child(1) .e:nth-child(1){
    bottom:8.5vh;
}
.orbit:nth-child(2) .e:nth-child(1){
    left:19vw;
    top:18vh;
}










.register{
    border:5px solid black;
    background-color: yellow;
    display: none;
    /*to be changed*/
    margin: auto;
    height: 95vh;
    width: 100%;
    /*to be changed*/
    opacity: 1;
}
