body{
    height: 100%;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.orbit {
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    position: absolute;
    opacity: 1;/*to be changed*/
}
.e {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    height: 18vh;
    width: 9.625vw;
    display: inline-block;
    position: relative;
    text-align: center;
    opacity: 1;/*to be changed*/
}
.orbit:nth-child(2)
{
    height: 44vh;
    width: 23.52vw;
    left:40.8vw;
    top:25vh;
}
.orbit:nth-child(3)
{
    height: 86vh;
    width: 45vw;
    left: 30vw;
    top:4.5vh;
}
.orbit:nth-child(4)
{
    height: 28vh;
    width: 15.05vw;
    left:44.9vw;
    top:32.4vh;
    border:none;
}
.orbit:nth-child(2) .e:nth-child(1){
    bottom:11.2vh;
    border:none;
}
.orbit:nth-child(3) .e:nth-child(1){
    left:19vw;
    top:18vh;
    border: none;
}

.orbit:nth-child(3) .e:nth-child(2){
    position: relative;
    top:32vh;
    right:26.8vw;
    border: none;
}
.orbit:nth-child(2) .e:nth-child(2){
    position: absolute;
    top:36vh;
    right:7vw;
    border:none;
}
.nucleus_circle img{
    background-image: inherit; 
    height:90%; 
    margin-top: 5px;
    /* display: none; */
    /*to be changed*/
}
.nucleus_circle img:hover{
    transform: rotate(360deg) scale(1.2,1.2);
    transition: transform 1s;
}
.logo{
    position: relative;
    top:0px;
    left:0px;
    width:20vw;
    border: none;
    z-index: 20;
}
.btn_register{
    cursor: pointer;
    background-image: inherit;
    color: rgb(248, 158, 167);
    position: relative;
    top:5.5vh;
    left:7.7vw;
    font-size:x-large;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.btn_register:active{
    font-size: xx-large;
    top:4.66vh;
    color:rgba(248,158,167,0.5);
    text-align: justify;
}

.btn_register:hover{
    font-size: xx-large;
    top:4.66vh;
    text-align: justify;
}

.btn_logo{
    cursor: pointer;
}
.btn_events{
    cursor: pointer;
    background-image: inherit;
    color:rgb(248, 158, 167);
    position:relative;
    top:6.5vh;
    left:0.4vw;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Arvo', serif;
    z-index: 15;
}
.btn_events:active{
    font-size: xx-large;
    top:4.66vh;
    left:-0.2vw;
    color:rgba(248,158,167,0.5);
}  
.btn_events:hover{
    font-size: xx-large;
    top:4.66vh;
    left:-0.2vw;
}
.btn_dashboard{
    cursor: pointer;
    background-image: inherit;
    color: rgb(248, 158, 167);
    position: absolute;
    top:6.3vh;
    left: -1vw;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Arvo', serif;
}
.btn_dashboard:active{
    font-size: xx-large;
    top:4.66vh;
    left:-0.2vw;
    color: rgba(248,158,167,0.5);
}
.btn_dashboard:hover{
    font-size: xx-large;
    top:4.66vh;
    left: -2vw;
}
.btn_contact{
    cursor: pointer;
    background-image: inherit;
    color:rgb(248, 158, 167);
    position: absolute;
    top:8vh;
    left:0vw;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Arvo', serif;
    z-index: 15;
}
.btn_contact:active{
    font-size: xx-large;
    top:4.66vh;
    left: -0.1vw;
    color: rgba(248,158,167,0.5);
}
.btn_contact:hover{
    font-size: xx-large;
    top:4.66vh;
    left:-1.5vw;
}
.btn_about{
    cursor: pointer;
}
.register{
    border:3px solid #ff00c8;
    border-radius:10% ;
    /*to be changed*/
    display: none;
    margin:5vh auto;
    height: 90vh;
    width: 90vw;
    /*to be changed*/
    opacity: 0;
    z-index:19;
    background-image: url("images/register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.register h1,a,input,p{
    color: #ffffdd;
    z-index:19; 
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    top:6vh;
    left:41vw;
    border: none;
}
.register h1{
    font-size:xxx-large;
}
input[type="submit"]{
    cursor: pointer;
    color:black;
    margin:4vh;
    left:40.8vw;
} 
input[type="submit"]:hover{
    box-shadow: 0px 0px 5px 5px rgba(23, 159, 201, 0.712);
}
.forgot_password{
    cursor: pointer;
}
.register a,input,p{
    left:37.5vw;
}
.register a{
    left:41.5vw;
}
.register a[href="#first_time_register"]{
    left:43vw;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1.5px 14px;
    border-radius: 5px;
    height: 1px;
}
.register a[href="#first_time_register"]:hover{
    box-shadow: 0px 0px 5px 5px rgba(23, 159, 201, 0.712);
}
img[src="images/headers.png"]{
    position: absolute;
    height: 15vh;
    padding: 5px;
    top: 9.5vh;
    left: 6.5vw;
}
#email,#password{
    border-bottom:1px solid #ffffdd; 
    background-color: transparent;
}
#email:focus,#password:focus{
    border-bottom:2.5px solid #e9e956;
}
.social_media{
    position: relative;
    top:80vh;
    right:42vw;
}
.social_media img{
    height:9vh;
    margin: 5px;
    outline: none;
    /* display: none; */
    /*to be changed */
}
.social_media a:active,a:hover{
    outline: none;
}
#contact{
        border:3px solid #ff00c8;
        border-radius:10% ;
        /*to be changed*/
        display: none;
        margin:5vh auto;
        height: 90vh;
        width: 90vw;
        /*to be changed*/
        opacity: 1;
        z-index:19;
        background-image: url("images/register.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}
#contact h2{
    color: #ffffdd;
    z-index:19; 
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
#contact ul{
    margin-left:18vh;
}
video{
    width: 60vw;
    position: absolute;
    top:13vh;
    left:22.5vw;
    z-index:16;
    opacity:1;/*to be changed*/
   display:none;
}

