
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
    <link rel="icon" href="images/nucleus.ico">
    <title>Infotsav</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet"> 
</head>

<body>